.export-webapp {
  color: #505050;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 1px 0;
  outline: 0;
  mask-repeat: no-repeat;
  border-style: none;
  background-color: transparent;
  border: 1px solid;
  border-color: black;
  border-radius: 12px;
  font-size: inherit;
}
